<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxr.iot.plugin.mysql.mapper.RetainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lxr.iot.plugin.mysql.entity.Retain">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
        <result column="topic" property="topic" />
        <result column="msgid" property="msgid" />
        <result column="sender" property="sender" />
        <result column="node" property="node" />
        <result column="qos" property="qos" />
        <result column="payload" property="payload" />
        <result column="arrived" property="arrived" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    id,
    create_time AS createTime,
    update_time AS updateTime,
        topic, msgid, sender, node, qos, payload, arrived
    </sql>

</mapper>
